body {
    margin: 0;
    padding: 0;
}

#products-heading {
    text-align: center;
    margin: 0 auto;
}

.main {
    margin-left: 50px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
} 

.v1 {
    border-left: 3px solid #3B4CCA;
    height: 500px;
    margin-left: 125px;
}

#instock {
    background-color: green;
    width: 120px;
    color: black;
}

#addcard {
    margin-top: 10px;
    background-color: #3B4CCA;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
}

* {
    color: #3B4CCA;
    font-family: 'VT323', monospace;
    
}

#quantity-count {
    font-size: xx-large;
    color: black;
}

#plus, #minus {
    background-color: #3B4CCA;
    font-size: large;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

#details-header {
    color: #FFDE00;
}
