body {
    margin: 0;
    padding: 0;
}

/* .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    padding: 10px;
} */

/* .grid-item {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.8); 
  box-shadow: 5px 5px grey;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 8px;
} */

/* .caption {

    font-family: Arial;
    font-weight: bolder;
    align-items: center;
} */
/* 
#products-heading {
    text-align: center;
    margin: 0 auto;
} */