#update-form {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#update-header {
    margin-top: 0;
}

#current-name{
    display: flex;
    /* justify-content: space-between; */
    align-items: baseline;
    margin-bottom: 10px;
}

#current-name-input{
    width: 44%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 38px;
    margin-top: 6px;
    margin-bottom: 16px;
    color:rgb(0, 0, 0);
}

#update-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    padding-top: 0px;
    margin-top: 0px;
    padding: 5px;
}

