#profile-header{
  margin: 5px;
  color: #6060a3;
}

.profile-info{
    color: #6060a3;
}

#profile-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    padding-top: 0px;
    margin-top: 0px;
    padding: 5px;
}

.right-side{
    display:flex;
    justify-content: right;
}

#confirm-pw-input{
    margin-bottom: 23px;
}
.profile-input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}
#update-profile-input{
    width: 50%;
    color: black;
    text-align: center;
}
:disabled{
    background-color: grey
}

