@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#register-form {
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    width: 400px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; 
  
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3),
      inset 0 1px rgba(255, 255, 255, 1), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

#register-header{
  margin: 20px;
  font-size: 40px;
  color: #6060a3;
}

#register-inputs {
  width: 75%;
}

#register-submit {
  background-color: #3B4CCA;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#register-submit:hover {
  opacity:1;
}

#divider {
  border: 1px solid #717177;
  width: 100%;
  margin-bottom: 25px;
}

#address-input {
  height: 110px;
}

.form-redirect-text {
  color: #717177;
}

.form-redirect-link {
  color: #6060a3;
}