@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#login{
    font-family: 'VT323', monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFDE00;
    margin-top: 100px;
}

#login-header{
    margin: 20px;
    font-size: 64px;
}

/* * {box-sizing: border-box} <-- Make specific so it doesn't apply to every component */

#login {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

#submit {
    background-color: #3B4CCA;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  #submit:hover {
    opacity:1;
  }