#products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    padding: 10px;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: calc(100% * (1/5) - 5px);
}

.card:hover {
    cursor: pointer;
    transform: rotate(3deg) scale(1.1);

    box-shadow: 
    0 0 13px 4px rgba(255,255,255,0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card {
  background-color: black;
  box-shadow: 5px 5px grey;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 8px;
  max-width: 250px;
  max-height: 360px;
}

.caption {
    font-family: Arial;
    font-weight: bolder;
    align-items: center;
}

#products-heading {
    text-align: center;
    margin: 0 auto;
}